---
---
@import "portfolYOU";

.landing-page-bg{
    background-image: url(../../imgs/codegif3.gif);
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

#description{
    color: white;
}

.smart-pictures{
    align-items: initial;
}